#sticky {
  z-index: 10;
  position: fixed;
  top: 0;
  height: 100px;
  background-color: white;
}

#back-button {
  position: fixed;
  top: 100px;
}

#up-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#bubbles, #cabildo-details {
  padding-top: 100px;
}

#cabildo-details {
  display: none;
}
