body {
  background-color: var(--bs-gray-100);
  color: var(--bs-gray-700);
  font-family: 'Karla', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
}

#title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: var(--cc-primary);
  cursor: pointer;
}

#subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.2px;
  color: var(--cc-primary);
}

#methods, #about {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

#filters {
  border-bottom: 0.5px dashed var(--cc-primary);
  border-top: 0.5px dashed var(--cc-primary);
}

#filters-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 2px;
}

#dropdowns {
  border-right: 0.5px dashed var(--cc-primary);
}

.form-control {
  background-color: var(--bs-gray-100);
}

#how-to {
  position: relative;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

#how-to:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.30);
}

#legend {
  display: none;
  position: absolute;
  z-index: 100;
  background-color: var(--bs-gray-100);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#legend.show {
  display: block;
}

.legend-svg {
  height: 72px;
  line-height: 72px;
}

.label {
  text-transform: uppercase;
}

.node-label {
  font-size: 12px;
  line-height: 18px;
}

#cabildos svg circle {
  cursor: pointer;
}

.cabildo-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
}

#details .bar-chart {
  margin: 60px 0;
}

.bar-chart .title text {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: var(--bs-gray-700);
}

.bar-chart .tick text {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 12.8px;
  line-height: 19px;
  color: var(--bs-gray-700);
}

.bar-chart .line {
  stroke: var(--bs-gray-600);
  stroke-width: 0.7px;
}

.bar-chart .circle {
  stroke-width: 1.0px;
}

.bar-chart text {
  font-size: 12.8px;
  line-height: 19px;
}

.comision-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 20px;
  margin-top: 80px;
}

.tema-title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 48px;
    background-color: var(--cc-primary);
    color: var(--bs-gray-100);
    padding: 8px;
}

.tema-description {
  font-size: 14px;
  margin-left: 47px;
}

.cloud-div, .general-cloud-div {
  margin-top: 60px;
  max-width: 80%;
  margin-left: 18%;
  margin-bottom: 80px;
}

.word-div, .general-word-div {
  color: var(--cc-primary);
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 12px;
}

.tree-group circle {
  fill: var(--cc-primary);
}

.tree-group text, .tree-group text tspan {
  /* stroke: var(--bs-gray-800); */
  font-size: 12.8px;
  line-height: 19px;
}

.tree-group path {
  stroke: var(--cc-primary);
  stroke-width: 1px;
  stroke-opacity: 0.4;
}

#sticky {
  z-index: 10;
  position: fixed;
  top: 0;
  background-color: var(--bs-gray-100);
}

#back-button {
  position: fixed;
  top: 224px;
  right: 20px;
  background-color: var(--cc-primary);
  color: var(--bs-gray-100);
  border-color: var(--cc-primary);
}

#back-button:hover {
  color: var(--cc-primary);
  border-color: var(--cc-primary);
  background-color: var(--bs-gray-100);
}

.btn-method {
  position: fixed;
  top: 98px !important;
}

#up-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#cabildo-details {
  display: none;
}

.menu-links {
  text-decoration: none;
  color: var(--bs-gray-700);
  text-align: right;
}

a:hover {
  color: var(--cc-primary);
}

.smaller-text {
  font-size: 14px;
  margin-bottom: 4px;
}

.btn-fab {
  color: var(--cc-primary);
  border-radius: 50%;
  border: 1px solid var(--cc-primary);
}

.btn-fab:hover{
  color: var(--bs-gray-100);
  background-color: var(--cc-primary);
  border-radius: 50%;
  border: 1px solid var(--cc-primary);
}

.form-select:focus {
  border-color: var(--cc-primary);
  outline: 0;
  box-shadow: none;
}

.ranking-title {
  font-size: 24px;
  font-weight: 600;
}

.ranking-images {
  width: 60%;
  margin-bottom: 40px;
  margin-left: 18%;
}
.ranking-description {
  margin-bottom: 30px;
}

.word-network {
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 18%;
}

.word-network img {
  width: 100%;
  height: auto;
}

h2 {
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 20px;
}

h3 {
  margin-bottom: 20px;
  margin-top: 20px;
  color: var(--cc-primary);
}

h4 {
  margin-bottom: 20px;
  margin-top: 20px;
  color: var(--cc-primary);
}

h5 {
  font-weight: 600;
}

.p-small {
  font-size: 0.8rem;
}

@media only screen and (max-width: 768px) {
  .menu-links {
    text-align: center;
  }

  #filters-title {
    display: none;
  }

  #dropdowns {
    border: none;
  }
}
